#toggle {
    display: none;
}

label[for="toggle"] {
    height: 5rem;
    width: 5rem;
    background: white;
    border: 2px solid darkgrey;
    position: absolute;
    left: 6rem;
    top: 45rem;
    z-index: 1;
    text-align: center;
    // display: none;

    h3 {
        margin: 1rem 0;
        padding: 0;
    }
}