// SCSS for blog.html
// ◘◘◘◘ BLOG PAGE ◘◘◘◘

// ••• Header and Navigation 
.otherHeader {
    height: 50vh;
    background: url(../../assets/blog-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .navBar {
        @include box (100vw, 7rem);
        background: #B9DDE7;
        display: flex;
        justify-content: center;
    }

    nav {
        height: 6rem;
        padding-top: 1rem;
    }

    h1 {
        position: absolute;
        top: 48vh;
        left: 8.5vw;
        @include fluid-type (60px, 100px, 360px, 1950px);
    }
}

// Put background to the main section of the body.
.mainBody {
    background: #f6f6f6;

    .blogFlex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        align-items: flex-start;
        margin: 5rem 0 3rem 3rem;

        .blogAside {
            width: 28%;
            max-width: 28%;
            padding: 4rem;

            .aside1 {
                background: white;
                padding: 4rem;

                a {
                    color: $greyBlue;
                }
            }

            .aside2 {
                background: white;
                padding: 4rem;
                margin-top: 3rem;

                ul li {
                    list-style-type: none;
                }

                ul li:before {
                    content: '\00b7';
                    font-size: 40px;
                    margin: 0 0.25rem;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .asideDiv {
            width: 28%;
            background: white;
            margin-top: 3rem;
        }

        .blogMain {
            width: 60%;
            margin-top: 4rem;

            .blogBox {
                background: white;
                padding: 4rem;
            }
        }
    }
}


.comments {
    margin-top: 5rem;

    div {
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        .commentImgDiv {
            @include box (100px, 100px);
            margin: 4rem auto;

        }

        .commentText {
            width: 80%;
        }
    }

    .commentParent1,
    .commentParent {
        background: white;
        padding: 3rem;
    }

    .commentParent {
        margin-top: 2rem;
        border-bottom: 3px solid #227284;
    }
}

.commentform {
    margin-top: 6rem;

}