// styling for contact.html

// use same stylings for the header in blog.index, and change the background image.
.otherHeader2 {
    @extend .otherHeader;
    background: url(../../assets/contact-image-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contactGrid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 8rem;
}


// style the aside section with the social media and contact info.
.contactAside {
    width: 28%;
}

.asideParent {
    background: white;
    padding: 2rem;
}

.contactSocialIcon {
    padding: 0;
    margin: 0;

    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        li {
            margin: 1rem;
        }

        a {
            padding: 1rem;

            i {
                @include fluid-type (25px, 30px, 360px, 1950px);
                color: #227284;
                justify-content: flex-start;
            }
        }
    }
}

.pBreak3 {
    @extend .pBreak2;
    margin-bottom: 1rem;
    font-weight: bold;
    width: 100%;
    display: block;
}



// alter properties for this contact form specifically. Cascade principles to override existing, while leaving the original form with the blog.index page unaltered.
.contactMain {
    width: 70%;
}

form {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}