// Styling for Comment form

form {
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    grid-gap: 15px;
    font-size: 2.5rem;
    // margin-top: 5rem;
    margin-bottom: 5rem;

    .textField {
        grid-area: 2 / span 2;
    }

    .commentButton {
        grid-area: 3 / span 2;
        width: 100%;
    }
}
