// footer styles
footer {
    height: 5rem;
    background: $blackColor;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}