// // Media Queries
// // ** non need for @media (prefers-reduced-motion:reduce)

// // ••• Index.html media queries
// // ••• blog.html media queries
// // ••• contact.html


@media (max-width: 980px) {

    // ••• blog.html media queries
    .blogFlex {
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        align-items: flex-start;
        margin: 8rem 0 0 0;
        width: 100%;

        .blogAside {
            width: 100%;
            max-width: 380px;
            min-width: 350px;
            margin-right: 3rem;

            .aside1 {
                background: white;
                padding: 4rem;
                width: 100%;

                a {
                    color: $greyBlue;
                }
            }

            .aside2 {
                background: white;
                padding: 4rem;
                margin-top: 3rem;

                li {
                    display: flex;
                }

                ul li {
                    list-style-type: none;
                }

                ul li:before {
                    content: '\00b7';
                    font-size: 40px;
                    margin: 0 0.25rem;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .blogMain {
            width: 55%;

            .blogBox {
                background: white;
                padding: 4rem;
            }
        }
    }


}