// // Media Queries
// // ** non need for @media (prefers-reduced-motion:reduce)

// // ••• Index.html media queries
// // ••• blog.html media queries
// // ••• contact.html


@media (max-width: 1000px) {

    // ••• blog.html media queries

    .mainBody .blogFlex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85vw;

        .blogAside {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            background-color: white;
            width: 100%;
            max-width: 100%;
            min-width: 360px;
            margin-right: 3rem;
            margin-bottom: 3rem;
            justify-content: center;
        
            .aside1 {
                background: white;
                padding: 4rem;
                width: 50%;
                display: flex;
                flex-direction: row;

                .asideImg {
                    width: 450px;
                    align-self: center;
                    margin-right: 1rem;
                }

                .blogAsideImg {
                    width: 100%;
                }
            }

            .aside2 {
                background: white;
                padding: 4rem;
                margin-top: 0rem;
                width: 40%;
            }
        }

        .blogMain {
            display: block;
            width: 85vw;


            .blogBox {
                background: white;
                padding: 4rem;
            }
        }
    }
}

@media (max-width: 850px) {
    
}