html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/****** GENERAL STYLING ******/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background: #f6f6f6;
}

.wrapper {
  width: 85vw;
  max-width: 1950px;
  margin: 0 auto;
}

/* FONT STYLING */
h1, h2, h3, h4, p, a, li, ul {
  line-height: 26px;
}

h1, h2, h3, h4, h5, a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.whiteActive {
  color: white;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: calc(4rem + 1 * ((100vw - 360px) / 1590));
  margin: 0;
}

@media screen and (max-width: 360px) {
  h2 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1950px) {
  h2 {
    font-size: 5rem;
  }
}

h3 {
  font-size: calc(2rem + 4 * ((100vw - 360px) / 1590));
  margin-bottom: 3rem;
  margin-top: 3rem;
}

@media screen and (max-width: 360px) {
  h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1950px) {
  h3 {
    font-size: 6rem;
  }
}

h4 {
  font-size: calc(3rem + 4 * ((100vw - 360px) / 1590));
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
  line-height: 4rem;
}

@media screen and (max-width: 360px) {
  h4 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1950px) {
  h4 {
    font-size: 7rem;
  }
}

p {
  font-family: 'Cabin', sans-serif;
  font-size: calc(1.5rem + 3.5 * ((100vw - 360px) / 1590));
  margin: 0;
  line-height: 4rem;
}

@media screen and (max-width: 360px) {
  p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1950px) {
  p {
    font-size: 5rem;
  }
}

li,
ul {
  text-decoration: none;
  list-style-type: none;
}

i {
  color: black;
}

img {
  width: 100%;
  display: block;
}

.pBreak2, .pBreak3 {
  display: block;
  word-wrap: break-word;
  width: 100%;
  display: block;
}

button {
  font-family: 'Oswald', sans-serif;
  width: 25rem;
  height: 5rem;
  background: #F38D8D;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover, button:focus {
  -webkit-box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.92);
          box-shadow: 5px 5px 17px 0px rgba(0, 0, 0, 0.92);
}

button:active {
  -webkit-box-shadow: inset 10px 5px 17px 0px rgba(0, 0, 0, 0.92);
          box-shadow: inset 10px 5px 17px 0px rgba(0, 0, 0, 0.92);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

/* Accessibility code for skip-link */
.skip-link {
  position: absolute;
  left: -999px;
  top: 1%;
  top: 5px;
  z-index: 999;
  background: white;
  font-size: 3rem;
  border-radius: 50px;
  width: 15rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #171717;
}

.skip-link a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 2rem;
}

.skip-link:focus {
  left: 5%;
}

.pBreak {
  display: block;
  margin: 3rem 0;
  word-wrap: break-word;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding-top: 1rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

nav ul li {
  margin: 1rem;
  display: block;
}

nav ul li a {
  padding: 1rem 2vw;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

nav ul li a:hover {
  color: white;
}

nav ul li h2 {
  font-size: 5rem;
  margin: 0;
}

[type=checkbox] {
  display: none;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  opacity: 0;
  /* hide this */
  z-index: 3;
  /*and place it over the hamburger*/
  -webkit-touch-callout: none;
}

header {
  height: 80vh;
  background-color: #B9DDE7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.headerFlex {
  position: relative;
  top: 15vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
}

.headerFlex .headerFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerImg {
  width: 25vw;
  height: 35vw;
  position: relative;
  bottom: -5rem;
  -webkit-transform: translate(5%, 5%);
          transform: translate(5%, 5%);
  background-color: white;
  margin: 0 2rem;
}

.headerImg img {
  -o-object-position: 23px 23px;
     object-position: 23px 23px;
  padding: 0 20px 20px 0;
  width: calc(100% + 45px);
  height: calc(100% + 45px);
  margin: -22px;
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
}

h1 {
  font-size: calc(90px + 70 * ((100vw - 360px) / 1590));
  margin: 0 5rem;
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 90px;
  }
}

@media screen and (min-width: 1950px) {
  h1 {
    font-size: 160px;
  }
}

.headerCircle {
  width: calc(10.5vw + 2px);
  position: relative;
  right: calc(10vw + 1.5px);
  bottom: calc(5vh + 1.5px);
}

#About {
  height: 50vh;
  width: 100vw;
  padding: calc(1vw * 2rem) 0;
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#About div {
  width: 40%;
  margin: auto 15rem;
}

.pMargin {
  margin: 3rem 0;
}

.asidenav {
  background: #F6F6F6;
  width: 100vw;
}

.asidenav img {
  width: 100%;
}

.iconparent {
  padding: 10rem;
}

.flexIconParent {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 15px;
}

.flexIconParent .flexIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.flexIconParent .flexIcon .iconborder {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: #B9DDE7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.flexIconParent .flexIcon .iconborder i {
  font-size: 2.5rem;
  margin: 0;
}

.flexIconParent .flexIcon .iconTextwidth {
  width: 90%;
  text-align: justify;
  padding-right: 3rem;
}

#Blog {
  background: white;
  width: 100vw;
}

.blogParentBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(550px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}

.blogParentBox .blogImg img,
.blogParentBox .blogImg2 img {
  min-width: 85%;
}

.blogParentBox .blogImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.blogParentBox .blogImg2 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.blogParentBox .imgShadow {
  -webkit-box-shadow: -150px 20px #227284, 20px 20px #227284;
          box-shadow: -150px 20px #227284, 20px 20px #227284;
  -webkit-transform: translate(1rem, -5rem);
          transform: translate(1rem, -5rem);
}

.blogParentBox .imgShadow2 {
  -webkit-box-shadow: 150px 20px #B9DDE7, 20px 20px #B9DDE7;
          box-shadow: 150px 20px #B9DDE7, 20px 20px #B9DDE7;
  -webkit-transform: translate(-1rem, 5rem);
          transform: translate(-1rem, 5rem);
}

.blogParentBox .textWidth2,
.blogParentBox .textWidth3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.blogParentBox .textWidth3 {
  width: 90%;
  padding-left: 2%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.blogParentBox .textWidth2 {
  padding: 0 0 0 13%;
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.journey {
  height: 60vh;
  width: 100vw;
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.journey .journeyImage {
  width: 30rem;
  height: 30rem;
  background: #227284;
}

.journey .journeyImage img {
  -webkit-transform: translate(-5%, -5%);
          transform: translate(-5%, -5%);
}

.journey .textWidth {
  width: 55%;
}

.journey .textWidth h2 {
  margin: 0;
}

.gallery {
  background: white;
  width: 100vw;
}

.gallery .galleryParent {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 30px;
  padding: 10rem;
}

.gallery .galleryParent .imgHouse {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  margin: auto;
}

.gallery .galleryParent .imgHouse:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#toggle {
  display: none;
}

label[for="toggle"] {
  height: 5rem;
  width: 5rem;
  background: white;
  border: 2px solid darkgrey;
  position: absolute;
  left: 6rem;
  top: 45rem;
  z-index: 1;
  text-align: center;
}

label[for="toggle"] h3 {
  margin: 1rem 0;
  padding: 0;
}

.otherHeader, .otherHeader2 {
  height: 50vh;
  background: url(../../assets/blog-image-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.otherHeader .navBar, .otherHeader2 .navBar {
  width: 100vw;
  height: 7rem;
  background: #B9DDE7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.otherHeader nav, .otherHeader2 nav {
  height: 6rem;
  padding-top: 1rem;
}

.otherHeader h1, .otherHeader2 h1 {
  position: absolute;
  top: 48vh;
  left: 13vw;
  font-size: calc(60px + 40 * ((100vw - 360px) / 1590));
}

@media screen and (max-width: 360px) {
  .otherHeader h1, .otherHeader2 h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 1950px) {
  .otherHeader h1, .otherHeader2 h1 {
    font-size: 100px;
  }
}

label[for="toggle"] {
  display: none;
  top: -11rem;
  left: 0rem;
  z-index: 2;
}

.mainBody {
  background: #f6f6f6;
}

.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 8rem 0 0 0;
  width: 100%;
}

.blogAside {
  width: 28%;
  max-width: 380px;
  min-width: 350px;
  margin-right: 3rem;
}

.blogAside .aside1 {
  background: white;
  padding: 4rem;
  width: 100%;
}

.blogAside .aside1 a {
  color: #68B0C1;
}

.blogAside .aside2 {
  background: white;
  padding: 4rem;
  margin-top: 3rem;
}

.blogAside .aside2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogAside .aside2 ul li {
  list-style-type: none;
}

.blogAside .aside2 ul li:before {
  content: '\00b7';
  font-size: 40px;
  margin: 0 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogMain {
  width: 55%;
}

.blogMain .blogBox {
  background: white;
  padding: 4rem;
}

.comments {
  margin-top: 5rem;
}

.comments div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.comments div .commentImgDiv {
  width: 100px;
  height: 100px;
  margin: 4rem auto;
}

.comments div .commentText {
  width: 75%;
  margin-left: 2rem;
}

.comments .commentParent1,
.comments .commentParent {
  background: white;
  padding: 3rem;
}

.comments .commentParent {
  margin-top: 2rem;
  border-bottom: 3px solid #227284;
}

.commentform {
  margin-top: 6rem;
}

form {
  width: 100%;
  height: 60vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 5rem 1fr 5rem;
      grid-template-rows: 5rem 1fr 5rem;
  grid-gap: 15px;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

form .textField {
  -ms-grid-row: 2;
  grid-area: 2 / span 2;
}

form .commentButton {
  -ms-grid-row: 3;
  grid-area: 3 / span 2;
  width: 100%;
}

.otherHeader2 {
  background: url(../../assets/contact-image-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contactGrid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 8rem;
}

.contactAside {
  width: 28%;
}

.asideParent {
  background: white;
  padding: 2rem;
}

.contactSocialIcon {
  padding: 0;
  margin: 0;
}

.contactSocialIcon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.contactSocialIcon ul li {
  margin: 1rem;
}

.contactSocialIcon ul a {
  padding: 1rem;
}

.contactSocialIcon ul a i {
  font-size: calc(25px + 5 * ((100vw - 360px) / 1590));
  color: #227284;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 360px) {
  .contactSocialIcon ul a i {
    font-size: 25px;
  }
}

@media screen and (min-width: 1950px) {
  .contactSocialIcon ul a i {
    font-size: 30px;
  }
}

.pBreak3 {
  margin-bottom: 1rem;
  font-weight: bold;
  width: 100%;
  display: block;
}

.contactMain {
  width: 70%;
}

form {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

footer {
  height: 5rem;
  background: #171717;
  color: white;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 0;
}

@media (max-width: 1000px) {
  header {
    background: url(../../assets/home-image-1.jpg);
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 0 0.25px;
    height: 80vh;
  }
  .headerImg {
    display: none;
  }
  .headerFlexContainer {
    height: 30vh;
    background: #f6f6f65b;
  }
  #About div {
    width: 80%;
  }
  .iconTextwidth {
    width: 100%;
  }
  label[for="toggle"] {
    display: block;
    top: -11rem;
    left: 0rem;
    z-index: 0;
  }
  input[name="toggle"]:checked + .blogAside {
    left: 0rem;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .asideButton:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .asideBar {
    position: relative;
  }
  .blogAside {
    position: absolute;
    left: -200rem;
    z-index: 1;
  }
  .blogMain {
    display: block;
    width: 85vw;
  }
  .blogMain .blogBox {
    background: white;
    padding: 4rem;
  }
}

@media (max-width: 950px) {
  .contactMain {
    width: 100%;
  }
  .contactGrid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactAside {
    width: 100%;
    margin-bottom: 3rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contactSocialIcon ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form {
    width: 100%;
    height: 60vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 5rem 5rem 1fr 5rem;
        grid-template-rows: 5rem 5rem 1fr 5rem;
    grid-gap: 15px;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    margin-left: 0;
    margin-right: 0;
  }
  form .idField {
    -ms-grid-row: 1;
    grid-area: 1 / span 2;
  }
  form .idField2 {
    -ms-grid-row: 2;
    grid-area: 2 / span 2;
  }
  form .textField {
    -ms-grid-row: 3;
    grid-area: 3 / span 2;
  }
  form .commentButton {
    -ms-grid-row: 4;
    grid-area: 4 / span 2;
    width: 100%;
  }
  .pBreak2, .pBreak3,
  .pBreak3 {
    text-align: center;
  }
}

@media (max-width: 680px) {
  /****** NAVIGATION STYLING ******/
  input[type=checkbox] {
    /* Double-sized Checkboxes */
    /* IE */
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    /* Opera */
    transform: scale(2);
    padding: 10px;
  }
  .navbar {
    visibility: hidden;
  }
  nav {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
  }
  nav ul {
    display: inline-block;
  }
  nav ul li {
    margin: 5rem;
  }
  nav ul li a {
    padding: 3rem;
    font-size: calc(2.5rem + 2.5 * ((100vw - 360px) / 1590));
  }
}

@media screen and (max-width: 680px) and (max-width: 360px) {
  nav ul li a {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 680px) and (min-width: 1950px) {
  nav ul li a {
    font-size: 5rem;
  }
}

@media (max-width: 680px) {
  #menuToggle {
    display: block;
    position: absolute;
    top: 3rem;
    right: 3rem;
    z-index: 3;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    opacity: 0;
    z-index: 3;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #171717;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    z-index: 3;
  }
  #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #171717;
    z-index: 2;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
    z-index: 2;
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
    z-index: 2;
  }
  #menu {
    position: fixed;
    right: 0rem;
    width: 100vw;
    height: 100vh;
    margin: -100px 0 0 -100px;
    padding: 20rem 0 90rem;
    padding-top: 125px;
    background: #68B0C1;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    -webkit-transform-origin: 25% 25%;
            transform-origin: 25% 25%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu ul {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  #menu ul .headerH2 {
    position: relative;
    top: 0;
  }
  #menu ul li {
    margin: 1rem;
    display: block;
  }
  #menu ul li a {
    padding: 1rem 2vw;
    font-size: 2rem;
    font-weight: bold;
    color: #171717;
  }
  #menu ul li a:hover {
    color: #227284;
  }
  #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=styles.css.map */